<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523007610617-0bb28rj3tpffr0v17da6fjoism5eb63q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523007610617-0bb28rj3tpffr0v17da6fjoism5eb63q</string>
	<key>API_KEY</key>
	<string>AIzaSyB8yQflHIgl9z5psoq3zTwn-oeeZl4gwhU</string>
	<key>GCM_SENDER_ID</key>
	<string>523007610617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moodle.cisionline</string>
	<key>PROJECT_ID</key>
	<string>tadawulexams</string>
	<key>STORAGE_BUCKET</key>
	<string>tadawulexams.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523007610617:ios:43251bf4cc35ab78</string>
	<key>DATABASE_URL</key>
	<string>https://tadawulexams.firebaseio.com</string>
</dict>
</plist>